ENV=development
DEBUG=true

JWT_SECRET_KEY=super-secret-change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_MINUTES=10080

MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=medassist_db
MYSQL_HOST=localhost
MYSQL_PORT=3306

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=medassist_logs

CORS_ORIGINS=["http://localhost:3000"]